In [2]:
import numpy as np
import pandas as pd
%matplotlib inline
from matplotlib import pyplot as plt

In [3]:
#instializing variable for file that will store investigated file from function read_csv.
DataF = pd.read_csv(r'C:\Users\Lakshya\Downloads\books.csv')

In [4]:
#Showcasing Data if implied above address is correct for DataSet.
DataF

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78E+12,eng,870,2153167,29221,09-01-2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11-01-2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78E+12,eng,435,2339585,36325,05-01-2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/2004,Scholastic,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.78E+12,eng,512,156,20,12/21/2004,Da Capo Press,NaN
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.78E+12,eng,635,783,56,12-01-1988,Penguin Books,NaN
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.78E+12,eng,415,820,95,08-01-1993,Penguin Books,NaN
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9.78E+12,eng,434,769,139,2/27/2007,Ecco,NaN
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.79E+12,spa,272,113,12,5/28/2006,Edimat Libros,NaN

# Q. What is the size of the dataset?

In [5]:
# It's an function from Pandas that allow us to find size of the given Dataset :-
DataF.size

144651


# Q. How widely do values in the dataset vary?

In [6]:
# describe is a built-in function of pandas which helps and gives insight of DataSet by calcuating count, mean, std(standard deviation), min(minimum value), ect.
# And as shown below, it showcased varied data from min to max.
DataF.describe()

             bookID  ratings_count  text_reviews_count
count  11127.000000   1.112700e+04        11127.000000
mean   21310.938887   1.793649e+04          541.864474
std    13093.358023   1.124794e+05         2576.174610
min        1.000000   0.000000e+00            0.000000
25%    10287.000000   1.040000e+02            9.000000
50%    20287.000000   7.450000e+02           47.000000
75%    32104.500000   4.993500e+03          237.500000
max    45641.000000   4.597666e+06        94265.000000

# Q. What are the typical values in the dataset?

In [9]:
DataF.mean()

C:\Users\Lakshya\AppData\Local\Temp\ipykernel_18948\1877348292.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  DataF.mean()

bookID                21310.938887
ratings_count         17936.490159
text_reviews_count      541.864474
dtype: float64

# Q. Is any observations repeating more frequently than others?

###### Initial Readings :-

In [10]:
# Reading taken before separating the duplicates from DataSet :-
# Its is marked as Initial reading.
DataF

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78E+12,eng,870,2153167,29221,09-01-2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11-01-2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78E+12,eng,435,2339585,36325,05-01-2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/2004,Scholastic,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.78E+12,eng,512,156,20,12/21/2004,Da Capo Press,NaN
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.78E+12,eng,635,783,56,12-01-1988,Penguin Books,NaN
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.78E+12,eng,415,820,95,08-01-1993,Penguin Books,NaN
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9.78E+12,eng,434,769,139,2/27/2007,Ecco,NaN
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.79E+12,spa,272,113,12,5/28/2006,Edimat Libros,NaN

###### Final readings :-

In [11]:
# drop_duplicates() function is also an important built-in function of pandas.
# It helps to reduce or remove an duplicate or repeatative data present in DataSet.
# Without taking much time it gives the result in such short time.
DataF.drop_duplicates()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78E+12,eng,870,2153167,29221,09-01-2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11-01-2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78E+12,eng,435,2339585,36325,05-01-2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/2004,Scholastic,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.78E+12,eng,512,156,20,12/21/2004,Da Capo Press,NaN
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.78E+12,eng,635,783,56,12-01-1988,Penguin Books,NaN
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.78E+12,eng,415,820,95,08-01-1993,Penguin Books,NaN
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9.78E+12,eng,434,769,139,2/27/2007,Ecco,NaN
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.79E+12,spa,272,113,12,5/28/2006,Edimat Libros,NaN

# Q. What is the most popular book by Rating count?

In [12]:
# filter function is reponsible for filtering the data by given parameters.
books_by_ratings = DataF.filter(['title', 'ratings_count'])

In [13]:
most_pop = books_by_ratings.sort_values(by = "ratings_count")

In [14]:
most_pop.tail(1)

                         title  ratings_count
10340  Twilight (Twilight  #1)        4597666

# Q. What is the most popular book?

In [15]:
gar = DataF.filter(['title', 'average_rating'])
far = gar.sort_values(by = 'average_rating')
far.tail(1)

                                              title average_rating
9724  The Irish Anatomist: A Study of Flann O'Brien              5

# Q. Are there any unusually high or low values in this dataset?

###### Unusually Low value :-

In [16]:
most_pop.head(1)

                                                  title  ratings_count
9851  The American Campaign: U.S. Presidential Campa...              0

###### Unusually High Value :-

In [17]:
most_pop.tail(1)

                         title  ratings_count
10340  Twilight (Twilight  #1)        4597666

# Q. What is the most popular book by Average Rating?

In [18]:
gar = DataF.filter(['title', 'average_rating'])

In [19]:
far = gar.sort_values(by = 'average_rating')

In [20]:
far.tail(1)

                                              title average_rating
9724  The Irish Anatomist: A Study of Flann O'Brien              5

# Q. What is the central value of different columns?

In [21]:
n = len(DataF.index)

In [22]:
num = int(n/2 + 1)

In [23]:
var = DataF.head(num)

In [24]:
var.tail(1)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
5563,20287,Hellstrom's Hive,Frank Herbert,3.69,553144383,9.78E+12,eng,312,41,3,3/23/1982,Bantam Books (NY),NaN

# Q. Are books with fewer pages rated higher than those with large page counts?

In [25]:
books_with_higher_pages = DataF.filter(['title', 'average_rating', '  num_pages'])

In [26]:
books_with_higher_pages

                                                   title average_rating
0      Harry Potter and the Half-Blood Prince (Harry ...           4.57
1      Harry Potter and the Order of the Phoenix (Har...           4.49
2      Harry Potter and the Chamber of Secrets (Harry...           4.42
3      Harry Potter and the Prisoner of Azkaban (Harr...           4.56
4      Harry Potter Boxed Set  Books 1-5 (Harry Potte...           4.78
...                                                  ...            ...
11122   Expelled from Eden: A William T. Vollmann Reader           4.06
11123                        You Bright and Risen Angels           4.08
11124                    The Ice-Shirt (Seven Dreams #1)           3.96
11125                                        Poor People           3.72
11126                        Las aventuras de Tom Sawyer           3.91

[11127 rows x 2 columns]

In [27]:
DataF

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78E+12,eng,870,2153167,29221,09-01-2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11-01-2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78E+12,eng,435,2339585,36325,05-01-2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/2004,Scholastic,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.78E+12,eng,512,156,20,12/21/2004,Da Capo Press,NaN
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.78E+12,eng,635,783,56,12-01-1988,Penguin Books,NaN
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.78E+12,eng,415,820,95,08-01-1993,Penguin Books,NaN
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9.78E+12,eng,434,769,139,2/27/2007,Ecco,NaN
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.79E+12,spa,272,113,12,5/28/2006,Edimat Libros,NaN

In [28]:
sep = DataF.loc[:,'  num_pages']

KeyError: '  num_pages'

In [ ]:
sep.sort_values()